.slider-reviews .testimonial {
	 /* 2 Block model */
	 padding-bottom: 25px;
	 
  @media(min-width: 992px) {
     /* 2 Block model */
     padding-left: 100px;
  }
}
.slider-reviews .swiper-pagination {
  /* 1 Positioning */
  bottom: -48px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.slider-reviews .swiper-pagination-bullet {
  /* 2 Block model */
  width: 12px;
  height: 12px;
  margin-right: 8px;

  /* 4 Visual */
  background-color: #C4C4C4;
  opacity: 1;
}
.slider-reviews .swiper-pagination-bullet:last-child {
  /* 2 Block model */
  margin-right: 0px;
}
.slider-reviews .swiper-pagination-bullet-active {
  /* 4 Visual */
  background-color: $color-gray--xdark;
}