div.slider-reviews
  div.swiper-container.slider-reviews-2
    div.swiper-wrapper 
      div.swiper-slide
        +testimonial({title: 'Константин Константинопольский ', desc: 'Я&nbsp;увидел в&nbsp;глазах собаки мимолетное выражение забавного презрения и&nbsp;я&nbsp;убежден, что собаки, в&nbsp;основном, думают, что люди сумасшедшие.'})

      div.swiper-slide
        +testimonial({title: 'Константин Константинопольский ', desc: 'Я&nbsp;увидел в&nbsp;глазах собаки мимолетное выражение забавного презрения и&nbsp;я&nbsp;убежден, что собаки, в&nbsp;основном, думают, что люди сумасшедшие.'})

      div.swiper-slide
        +testimonial({title: 'Константин Константинопольский ', desc: 'Я&nbsp;увидел в&nbsp;глазах собаки мимолетное выражение забавного презрения и&nbsp;я&nbsp;убежден, что собаки, в&nbsp;основном, думают, что люди сумасшедшие.'})

      div.swiper-slide
        +testimonial({title: 'Константин Константинопольский ', desc: 'Я&nbsp;увидел в&nbsp;глазах собаки мимолетное выражение забавного презрения и&nbsp;я&nbsp;убежден, что собаки, в&nbsp;основном, думают, что люди сумасшедшие.'})

      div.swiper-slide
        +testimonial({title: 'Константин Константинопольский ', desc: 'Я&nbsp;увидел в&nbsp;глазах собаки мимолетное выражение забавного презрения и&nbsp;я&nbsp;убежден, что собаки, в&nbsp;основном, думают, что люди сумасшедшие.'})

  div.swiper-pagination.swiper-pagination--reviews