footer.footer.padding-40
	div.container
		div.row
			div.col-5.col-md-6
				span.text &copy;&nbsp;2019&nbsp;&mdash; site.ru

			div.col-7.col-md-6
				div.footer__right
					span.text Автошкола &laquo;Учебный&nbsp;центр&raquo;