div.map
	div.map__contacts
		p.text 
			b Автошкола 
				br
				|&laquo;Учебный центр&raquo;
		p.text Г.&nbsp;Анапа, ул. Парковая, 66, офис 302
		div.map__link
			a.text(href="tel:+79001234567") 
				b +7&nbsp;900&nbsp;123&nbsp;45&nbsp;67
			a.text(href="mailto:auto-school-anapa@bk.ru") auto-school-anapa@bk.ru
			a.text(href="hhtps://site.ru") https://site.ru

	iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d12701.86648413403!2d37.63464586663292!3d55.75165790922263!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1568293059869!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="")