header.header
	div.header__top
		div.container
			div.row.align-items-center
				div.col-12.col-md-3
					a.logo(href="/")

				div.col-12.col-md-6
					nav.menu
						ul.menu__list
							li.menu__item
								a(href="#")

							li.menu__item
								a(href="#")

							li.menu__item
								a(href="#")

				div.col-12.col-md-3
					div.header__contact						
						a(href="tel:")
						a(href="mailto:")

	div.header__body
		div.container
			div.row
				div.col-12
					h1.h1
					p.lead
					include ../btn/btn/pug

		picture.header__img
			img

main.main
	div.pt-132.pb-127
		div.container
			div.row
				div.col-12
					h2.title

			div.row
				div.col-12.col-md-6
					ul.advantages
						li.advantages__item
							div.advantages__num 1
							div.advantages__text Обучение на механической и автоматической коробке передач

						li.advantages__item

						li.advantages__item

						li.advantages__item

						li.advantages__item


				div.col-12.col-md-6
					ul.main__list
						li.main__item

						li.main__item

						li.main__item

						li.main__item

	div.padding-80
		div.container
			div.row
				dv.col-12
					h2.h2.title

					include ../slider-school/slider-school.pug

	div.padding-80
		div.container
			div.row
				dv.col-12
					h2.h2.title

					include ../slider-reviews/slider-reviews.pug
						//testimonial
						//testimonial

	div.padding-80
		div.container
			div.row
				div.col-12
					h2.h2.title

				div.col-12.col-md-6.col-lg-6
					picture
						img

				div.col-12.col-md-6.col-lg-6
					picture
						img

				div.col-12.col-md-6.col-lg-6
					picture
						img

				div.col-12.col-md-6.col-lg-6
					picture
						img

	div.padding-80
		div.container
			div.row.align-items-center
				div.col-12.col-md-6
					picture
						img

				div.col-12.col-md-3
					div.main__record-shool
						span
						span

					div.main__record-contacts
						a(href="tel:")
						a(href="mailto:")						

				div.col-12.col-md-3
					include ../btn/btn.pug

	include ../map/map.pug

footer.footer.padding-40
	div.container
		div.row
			div.col-6
				span
					
			div.col-6
				span