.testimonial__title {
	/* 2 Block model */
	margin: 0px;
	margin-bottom: 22px;

	/* 3 Typography */
	font-family: $font-second;
	font-size: 22px;
	line-height: 28px;
	font-weight: 700;
	color: $color-black;
}
.testimonial__desc {
	/* 1 Positioning */
	position: relative;

	/* 2 Block model */
	margin: 0px;

	/* 3 Typography */
	font-family: $font-main;
	font-size: 18px;
	line-height: 26px;
	font-weight: 400;
	color: $color-black;
}
.testimonial__desc::before {
	/* 1 Positioning */
	position: absolute;
	bottom: -25px;
	left: 0px;
	content: "";

	/* 2 Block model */
	display: block;
	width: 60px;
	height: 3px;

	/* 4 Visual */
	background-color: #C4C4C4;
}
/* 1 Positioning */

/* 2 Block model */

/* 3 Typography */

/* 4 Visual */

/* 5 Animation*/

/* 6 Misc */