header.header
	div.header__top
		div.container
			div.row.align-items-center
				div.col-6.col-lg-3
					include ../logo/logo.pug

				div.col-lg-6.d-none.d-lg-block
					div.header__menu
						include ../menu/menu.pug

				div.col-6.col-lg-3
					div.header__contact
						a(href="tel:+79001234567") 
							b +7&nbsp;900&nbsp;123&nbsp;45&nbsp;67
						a(href="mailto:auto-school-anapa@bk.ru") auto-school-anapa@bk.ru

	div.header__body
		div.container
			div.row
				div.col-12
					h1.h1 Подготовка водителей 
						br
						|категории &laquo;В&raquo;
					p.lead Скидка на&nbsp;обучения до&nbsp;конца 2019&nbsp;года.
					include ../btn/btn.pug
					+btn({text: 'Записаться', type: 'link', url: '#ex1'})(rel='modal:open')

		picture.header__img
			img(src="images/img-car.png" srcset="images/img-car@2x.png 2x" alt="Атомобиль")