form.form(action="#" method="post")
  +input({label_text: 'Имя', name: 'user-name', type: "text"})
  +input({label_text: 'Телефон', name: 'user-tel', type: "tel"})
  div.form__action
   +btn({text: 'Записаться'})